<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body form-new-blog" id="new-post-form">
        <label  class="form-label">Title</label>
        <input type="text" id="blog-title" name="post-title" class="form-input" />
        <label class="form-label">Content</label>
        <input id="blog-content" name="content" class="form-input" />
        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/js/addPost.js"></script>
