
 <div class="card">
    <div class="card-header">
        <h5 class="card-title"> Why  MVC</h5>
        <h5 class="card-posted-date"> Posted by Joseph Markup on 04/05/2010</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    </div>

    <div class="card">
    <div class="card-header">
        <h5 class="card-title"> Comments</h5>
    </div>
    <div class="card-body">
        Add Your Comment 
    <textarea rows="5" cols="10" class="form-control" name="comment" minlength="20" required> </textarea>
    <button class="button btn-lg float-centre" id="btnLogin"> Submit </button>
    </div>
</div>