
 <div class="card">
    <div class="card-header">
        <h5 class="card-title"> {{ post.title }} </h5>
        <h5 class="card-posted-date"> Posted by {{post.user.username}} on
            {{format_date post.create_date }}
    </h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ post.content }}
    </div>
    </div>

    <div class="card">
    <div class="card-header">
        <h5 class="card-title"> Comments</h5>
    </div>
    <div class="card-body">
        <form class="comment-form">
            Add Your Comment 
            <textarea rows="5" cols="10" class="form-control comment-text" name="comment" minlength="6" required="required"> </textarea>
            <button class="button"> Submit </button>
        </form>
        </div>
</div>

{{> comments post.comments}}

<script src="/js/comment.js"></script>
