
<div class="newPost">
<a href="/addnewPost"><button class="button"> + New Post</button></a>
</div>

{{#if posts.length}}
<div class="container-dashboard">
     {{#each posts as |post|}}
        {{> dashboard-postinfo post}}
    {{/each}}
</div>
{{/if}}
