
<div class="newPost">
<a href="Post.html"><button class="button"> + New Post</button></a>
</div>
<div class="container-dashboard">
<div class="row" id="row">
    <div class="col-md-8 text-left">
        Object Relational Model 
    </div>
    <div class="col-md-4 text-right">
        04/04/2019 
    </div>
</div>
</div>
