<div class="container">
  <div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <!-- form card login -->
          <div class="card rounded shadow shadow-sm">
            <div class="card-header">
              <h3 class="mb-0">Login</h3>
            </div>
            <div class="card-body">
              <form class="form form-login">
                <div class="form-group">
                  <label for="email-login">Username: </label>
                  <input class="form-input input-username-login" type="text" minlength="6" maxlength="20" required="required"/>
                </div>
                <div class="form-group">
                  <label for="password-login">Password: </label>
                  <input class="form-input input-password-login" type="password" minlength="6" maxlength="20" required="required"/>
                </div>
                <div class="form-group">
                  <button class="button" type="submit">Login</button>
                   <button class="button">
                    <a class="create-account-button button" href="/signUp">Create An Account</a>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../js/login.js" type="text/javascript" >
 
</script>



