<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Create An Account </h3>
                        </div>
                        <div class="card-body">
                            <form class="form" id="form-sign-up">
                                <div class="form-group">
                                    <label for="email-login">Username: </label>
                                    <input class="form-input" type="text" id="email-login" />
                                </div>
                                <div class="form-group">
                                    <label for="password-login">Password: </label>
                                    <input class="form-input" type="password" id="password-login" />
                                </div>
                                <div class="form-group">
                                    <label for="password-login"> Confirm Password: </label>
                                    <input class="form-input" type="password" id="password-login" />
                                </div>
                                <div class="form-group">
                                    <button class="signup-button button" type="submit">Sign-up</button>
                                    <button class="button">
                                    <a class="already-have-account-button button" href="/login">Already have an account</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/login.js"></script>



